<!-- <h1>helo angular</h1>


<app-header>

</app-header>
<h1>interpolation</h1>
name: {{name}} <br>
age: {{age}}<br>
department: {{department}} <br>


<h1>property binding</h1>
name <input type="text" [value]="name">
age <input type="text" [value]="age">
department <input type="text" [value]="department">

<h1>event binding</h1>

<button (click)="change_name()">change name</button><br><br>
<button (click)="change_age()">change age</button><br><br>
<button (click)="change_department()">change department</button><br><br>
<img [src]="imagepath" alt="okm">
<button (click)="change_image()">change_image</button><br><br>

<h1>two way data binding</h1>
<br>
enter a first name <input type="text" [(ngModel)]="fname" />
<br>
<h4>welcome {{fname}} </h4> -->

<!-- <h1>structural and attributes</h1>

<button (click)="changeflag()">Show or Hide Div</button>

<div *ngIf="flag"><br>
  vasanth.
</div> -->

<!-- <h1>structural and attributes</h1>

<button (click)="chageflag()">Show or Hide Div</button>
<br><br>
<div *ngIf="flag"><br>
  <ul>
    <li *ngFor="let vec of vehilcels">{{vec}}</li>
  </ul>
</div>


<button (click)="changeFlag()">Show or Hide Div</button>
<br><br>
<div *ngIf="flag" [ngStyle]="myStyle">
    <br>
  <ul>
    <li *ngFor="let vec of vehicles" (click)="setSelect(vec)">{{vec}}</li>
  </ul>
  <br>you select : {{selectedVehicle}}
</div>

<br><br>

<div [ngSwitch]="setSelect">
    <font color="green" *ngSwitchCase="'two'">bike</font>
    <font color="green" *ngSwitchCase="'three'">auto</font>
    <font color="green" *ngSwitchCase="'four'">bus</font>
    <font color="green" *ngSwitchDefault="'two'">invalid</font>
</div> -->



<table width="80%" align="center">
  <tr>
    <th><a routerLink="home">Home</a></th>
    <th><a routerLink="contact">Contact</a></th>
    <th><a routerLink="about">about</a></th>
  </tr>
</table>
<div>
  <router-outlet></router-outlet>
</div>
