<div class="form_container mt-4">
  <div class="register">
  <form #myForm="ngForm" (ngSubmit)="myFunction(myForm.value)">
      <header>Registration Page</header>
      
      <label for="name">Name</label>
      <input type="text" id="name" name="name" ngModel required />
      
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ngModel required />
      
      <label for="age">Age</label>
      <input type="number" id="age" name="age" ngModel required />
      
      <label for="mobileNo">Mobile Number</label>
      <input type="text" id="mobileNo" name="mobileNo" ngModel required />
      
      <label for="country">Country</label>
      <select id="country" name="country" ngModel required>
          <option value="India">India</option>
          <option value="China">China</option>
          <option value="USA">USA</option>
      </select>
      
      <button type="submit">Register</button>
  </form>
</div>
</div>