<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
    <div class="container-fluid p-0">
        <a class="navbar-brand text-uppercase fw-800" href="#">
            <span class="border-red pe-2">New</span>Product
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <div class="navbar-nav ms-auto">
                <a routerLink="home" class="nav-link" href="#">home</a> &nbsp;&nbsp;
                <a routerLink="login" class="nav-link" href="#">login</a> &nbsp;&nbsp;
                <a routerLink="register" class="nav-link" href="#">register</a> &nbsp;&nbsp;
                <a routerLink="addproduct" class="nav-link" href="#">add product</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>

